---
---
$gold: #FAB600;
$beige: #A98459;
$brown: #7C4B08;
$blue: #0081AB;
$navy: #006293;
$deep-brown: #532409;
$twitter: #17a2f3;
$facebook: #385899;

html {
  border-top: 3px solid $gold;
}

nav {
  img {
    width: 100%;
    max-width: 300px;
  }
}

.single-story {
  height: 100%;
  img {
    width: 100%;
  }
  .card-content {
    padding-bottom: 60px;
  }
  .card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.story-details {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fbfbfb;
  z-index: 100;
  .tag.is-delete {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    background-color: #e8e8e8;
    &:hover {
      background-color: darken(#e8e8e8, 10%);
    }
  }
  .meta, .attribution {
    margin-bottom: 1rem;
  }
  .read {
    .button {
      background-color: $gold;
      &:hover {
        background-color: darken($gold, 3%);
      }
    } 
  }
  .title {
    font-size: 1.25rem;
    padding-bottom: 12px;
  }
  .subtitle {
    font-size: 1rem;
    margin-top: 1rem;
  }
}

.tag {
  &.publication {
    background-color: $gold;
    color: #fff;
    &:hover {
      color: #fff;
      background-color: darken($gold, 10%);
    }
  }
  &.twitter {
    background-color: $blue;
    color: #fff;
    &:hover {
      color: #fff;
      background-color: $navy;
      text-decoration: none;
    }
  }
}

.card-content {
  .title {
    font-size: 1.5rem;
  }
}

.page-share {
  position: relative;
  z-index: 120;
}

a {
  color: $blue;
  &:hover {
    color: $navy;
  }
}

.twitter {
  color: $twitter;
    &:hover {
      color: darken($twitter, 10%);
    }
}

.facebook {
  color: $facebook;
    &:hover {
      color: darken($facebook, 10%);
    }
}

.email {
  color: $gold;
    &:hover {
      color: darken($gold, 10%);
    }
}