<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.layout }}-page">

    {% include header.html %}
    
    {{ content }}

    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/site.js"></script>

    <script>
      // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      // })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      // ga('create', 'UA-92721800-3', 'auto');
      // ga('send', 'pageview');
    </script>

    <script>
      $(function() {
        url = window.location.href;
        $(".page-share .facebook").on("click", function(e) {
          e.preventDefault();
          window.open("https://www.facebook.com/sharer/sharer.php?u="+window.location.href  + "%23" + $(this).parents(".single-story").attr("id"),
            "share", "width=600, height=400, scrollbars=no");
          // ga('send', 'social', 'facebook', 'share', url);
        });

        $(".page-share .twitter").on("click", function(e) {
          e.preventDefault();
          window.open("https://twitter.com/intent/tweet?&url="+window.location.href+"%23"+$(this).parents(".single-story").attr("id"),
            "share", "width=600, height=400, scrollbars=no");
          // ga('send', 'social', 'twitter', 'share', url);
        });

        $(".page-share .email").on("click", function(e) {
          e.preventDefault();
          var emailTitle = $(this).parent().prev().children(".title").text().replace(/&/g, '%26').trim();
          window.location = 'mailto:?subject=' + emailTitle + '&body=' + url  + "#" + $(this).parents(".single-story").attr("id");
          // ga('send', 'social', 'email', 'share', url);
        });
      });

    </script>

  </body>

</html>
